.forman {
    margin-top: 75px;
    margin-bottom: 75px;
};
.nameInput {
    width: 500px;
}

.nameTag {
    font-weight: bold;
}

.emailTag {
    font-weight: bold;
    margin-top: 5%;
}

.msgTag {
    font-weight: bold;
    margin-top: 5%;
}