.aboutbox {
    margin-top: 75px;
    margin-bottom: 75px;
    display: inline-block;
}

.picky {
    border-radius: 15px;
    float: left;
    padding: 10px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

.textile {
    text-indent: 5%;
}

.waddup {
    font-style: oblique;
    text-align: center;
}