@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');


#navdiv {
   background-color: black;
   opacity: 0.75;

}
.rapologize {
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
}

.makewhite {
    color: white;
}